<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="err.html" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.html" responseMode="File" />
        </httpErrors>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        <handlers>
            <add name="PHP-CGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="E:\PHP-7.3.1\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
            <add name="HTMLSET" path="*.html" verb="GTE,POST" modules="IsapiModule" scriptProcessor="D:\Windows\System32\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness64" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".,mp4" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
    <system.web>
        <customErrors>
            <error redirect="http://87h87g78g.w3.luyouxia.net/404.html" statusCode="404" />
        </customErrors>
    </system.web>
    <system.net>
        <mailSettings>
            <smtp from="">
                <network defaultCredentials="false" host="localhost" password="" userName="" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
